@{
    ViewData["Title"] = "Contact Manager";
}

<head>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
</head>

<form action="/Home/Upload" enctype="multipart/form-data" method="post" class="uploading">
    <input type="file" name="file" class="form-control">
    @if (ViewData["FileErrorMessage"] != null)
    {
        <label class="text-danger">@ViewData["FileErrorMessage"]</label>
    }
    <button class="btn btn-primary" type="submit">Upload</button>
</form>


<div class="data-table">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    <partial name="_SortButtonsPartial" model='"Name"'>
                </th>
                <th>
                    <partial name="_SortButtonsPartial" model='"Date of Birth"'>
                </th>
                <th>
                    <partial name="_SortButtonsPartial" model='"Married"'>
                </th>
                <th>
                    <partial name="_SortButtonsPartial" model='"Phone"'>
                </th>
                <th>
                    <partial name="_SortButtonsPartial" model='"Salary"'>
                </th>
                <th></th>
            </tr>
            <tr id="filtersTR" class="filters">
            </tr>
        </thead>
        <tbody id="contactsTBody" class="tbody">
        </tbody>
    </table>
</div>